# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.class

# Virtual environment
.venv/
env/
venv/

# macOS
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Output folders
output/

# Logs
*.log

# Editor files
.vscode/
.idea/
